{% extends "c_header-footer.html" %}
{% load static %}
        <!--============== Signup Form Start ==============-->
        {% block content %}
        <div class="full-row" style="background-image: url('/static/assets/images/background/pg.jpg');  background-size: cover;">
            <div class="container" style="height: 600px;"><br><br><br><br><br><br>
                <div class="row">
                    <div class="col-xl-5 col-lg-6 mx-auto">
                        <div class="bg-white xs-p-20 p-30 border rounded">
                            <div class="form-icon-left rounded form-boder">
                                <h4 class="mb-4">Forgot Password</h4>
                                <form action="/client/send_otp/" method="POST" data-parsley-validate="">
                                    {% csrf_token %}

                                    <div class="row row-cols-1 g-3">
                                        <div class="col">
                                            <label class="mb-2">Email Address</label><br>
                                            <input type="email" class="form-control bg-light" value="" required="" name="email" data-parsley-required="true" data-parsley-required-message="This field is required" data-parsley-pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" data-parsley-pattern-message="Please enter valid email id"><br>
                                        </div>
                                       
                                        <div class="col">
                                            <button type="submit" class="btn btn-primary mb-3">Send Otp</button>
                                        </div>
                                        {% for data in messages %}
                                        <span style="color: red;">{{data}}</span>
                                        {% endfor %}
                                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Signup Form End ==============-->
{% endblock %}