{% extends "client_profile_header_footer.html" %}
{% load static %}
                    <!--============== Dashboard Start ==============-->
                    {% block content %}
                    <div class="full-row px-40 py-30 xs-p-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <h3 class="my-3">Contact Us</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="dashboard-panel border bg-white rounded overflow-hidden w-100">
                                        <div class="overflow-x-scroll font-fifteen">
                                            <table class="w-100 items-list bg-transparent">
                                                <thead>
                                                    <tr class="bg-white">
                                                        <th><b>Name</b></th>
                                                        <th><b>E-Mail Address</b></th>
                                                        
                                                        <th><b>Contact Number</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr>
                                                        <td >
                                                          <h2>  <b>Harsh Prajapati</b></h2>
                                        
                                                        </td>
                                                        <td> <h3><b>prajapatiharsh649@gmail.com</b></h3></td>
                                                      
                                                        <td> <h3><b>9409433170</b></h3></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                          <h2>  <b>Bhavesh Makwana</b></h2>
                                        
                                                        </td>
                                                        <td> <h3><b>bmmakwana2004@gmail.com</b></h3></td>
                                                      
                                                        <td> <h3><b>7203958658</b></h3></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                          <h2>  <b>Vishal Patel</b></h2>
                                        
                                                        </td>
                                                        <td> <h3><b>pv474007@gmail.com</b></h3></td>
                                                      
                                                        <td> <h3><b>9913679255</b></h3></td>
                                                    </tr>
                                                    
                                                  
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--============== Dashboard End ==============-->
                    {% endblock %}
