{% extends "c_header-footer.html" %}
{% load static %}

   
       
        {% block content %}
        <!--============== Page Banner Start ==============-->
        <div class="page-banner-simple bg-secondary py-50" style="background-image: url(/static/assets/images/background/bg-1.png); background-repeat: no-repeat; background-position: center center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="banner-title text-white">Freequenly Ask Question</h3>
                        <span class="banner-tagline font-medium text-white">We make strategies, design & development.</span>
                    </div>
                </div>
            </div>
        </div>
        <!--============== Page Banner End ==============-->

        <!--============== Faqs Start ==============-->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="fag-category list-color-general list-text-hover-primary py-5 px-4 bg-white border rounded mb-5">
                            <ul>
                                <li><a href="#">Basic</a></li>
                                <li><a href="#">Elements</a></li>
                                <li><a href="#">Shortcodes</a></li>
                                <li><a href="#">Extended License</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Code Quality</a></li>
                                <li><a href="#">Responsive Template</a></li>
                                <li><a href="#">Color Settings</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-8">
                        {% for data in inquiry %}
                        <div class="simple-collaps px-4 py-3 bg-white border rounded mb-3">
                            <span class="accordion text-secondary d-block">{{data.u_message}}</span>
                            <div class="panel">
                                <p>{{data.response}}</p>

                            </div>
                        </div>

                        {% endfor %}
                       
                        
                       
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--============== Faqs End ==============-->
        {% endblock %}
