{% extends "c_header-footer.html" %}
{% load static %}
<!--============== Signup Form Start ==============-->
{% block content %}

<div class="full-row" style="background-image: url('/static/assets/images/background/pg.jpg'); background-size: cover;">
    <div class="container"><br><br>
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="bg-white xs-p-20 p-30 border rounded" >
                    <h4 class="mb-4 down-line"> User Registration</h4>
                    <div class="form-icon-left form-boder">
                        <form action="/client/signup/" method="POST" data-parsley-validate="">
                            {% csrf_token %}
                            <div class="row row-cols-1 g-3">
                                <div class="col">
                                    <label class="mb-2"><b>First Name</b></label>
                                    <input type="text" class="form-control bg-light" value="" required=""
                                        name="first_name" data-parsley-required="true" data-parsley-required-message="This field is required" data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-pattern-message="Please enter valid First name">
                                </div>
                                <div class="col">
                                    <label class="mb-2"><b>Last Name</b></label>
                                    <input type="text" class="form-control bg-light" value="" required=""
                                        name="last_name" data-parsley-required="true" data-parsley-required-message="This field is required" data-parsley-pattern="^[a-zA-Z ]+$" data-parsley-pattern-message="Please enter valid Last name">
                                </div>
                                <div class="col">
                                    <label class="mb-2"><b>Contact No.</b></label>
                                    <input type="number" class="form-control bg-light" value="" required=""
                                        name="contact_no" data-parsley-required="true" data-parsley-required-message="This field is required" data-parsley-pattern="^[0-9]+$" data-parsley-maxlength="13" data-parsley-minlength="10">
                                </div>
                                <div class="col">
                                    <label class="mb-2"><b>Email Address</b></label>
                                    <input type="email" class="form-control bg-light" value="" required=""
                                        name="email_id" data-parsley-required="true" data-parsley-required-message="This field is required" data-parsley-pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" data-parsley-pattern-message="Please enter valid email id">
                                </div>
                                <div class="col">
                                    <label class="mb-2"><b>Date of Birth</b></label>
                                    <input type="date" class="form-control bg-light" value="" required=""
                                        name="date_of_birth" data-parsley-required="true" data-parsley-required-message="This field is required" >
                                </div>
                                <div class="col">
                                    <label class="mb-2"><b>Address</b></label>
                                    <input type="text" class="form-control bg-light" value="" required=""
                                        name="address" data-parsley-required="true" data-parsley-required-message="This field is required">
                                </div>
                                <div class="col">
                                    <label class="mb-2"><b>Gender</b></label><br>
                                    &nbsp; &nbsp; &nbsp;<label class="mb-2">Male</label>
                                    <input type="radio" value="M" required="" name="gender" >
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<label class="mb-2">Female</label>
                                    <input type="radio" value="F" required="" name="gender">
                                </div>
                                <div class="col">
                                    <label class="mb-2"><b>Password</b></label>
                                    <input type="password" class="form-control bg-light" value="" required=""
                                        name="password" data-parsley-required="true" data-parsley-required-message="This field is required" data-parsley-pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" data-parsley-pattern-message="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                                </div>
                                
                        
                                    <input type="hidden" class="form-control bg-light" value="0" required=""
                                        name="is_admin">
                                
                                
                        
                                    <input type="hidden" class="form-control bg-light" value="0" required=""
                                        name="otp">
                                
                                
                                    
                                    <input type="hidden" class="form-control bg-light" value="0" required=""
                                        name="otp_used">
                                
                                
                                    
                                    <input type="hidden" class="form-control bg-light" value="0" required=""
                                        name="is_verify">
                                {% for data in messages %}
                                
                                    <span style="color: red;">{{data}}</span>
                                
                                {% endfor %}
                                <div class="col">
                                    <button type="submit" class="btn btn-primary mb-3">Sign Up Now</button>
                                </div>
                                <div class="col">
                                    
                                    <a href="/client/signin/" class="text-dark d-table py-1"><u>I already have
                                            account.</u></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--============== Signup Form End ==============-->
{% endblock %}