
{% extends "owner_profile_header_footer.html" %}
{% load static %}
                    <!--============== Dashboard Start ==============-->
                    {% block content %}
                    <div class="full-row p-10 xs-p-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="my-3">PG Details Data</h3>
                                    
                                </div>
                                <div class="row">
                                    <div class="header-unfix border-bottom bg-white">
                                        <div class="p-30 bg-white border rounded mb-30 clearfix">
                                    <table id="example" class="table table-bordered table-hover display nowrap margin-top-10">
                                      <thead>
                                        <tr>
                                          <th>PG  Id</th>
                                          <th>Area name</th>
                                          <th>Owner Name</th>
                                          <th>Category Name</th>
                                          <th>PG Name</th>
                                          <th>PG Image</th>
                                          <th>PG Address</th>
                                          <th>PG Email</th>
                                          <th>PG Contact</th>
                                          
                                      
                                         
                          
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for date in pd %}
                                        <tr>
                          
                                          <td>{{date.pg_id}}</td>
                                          <td>{{date.area_id.area_name}}</td>
                                          <td>{{date.owner_id.owner_first_name}}</td>
                                          <td>{{date.cate_id.cate_name}}</td>
                                          <td>{{date.pg_name}}</td>
                                         <td><img src="{% static '/images/' %}{{date.pg_image}}" alt="" style="height: 50px; "></td>
                                          <td>{{date.pg_address}}</td>
                                          <td>{{date.pg_email}}</td>
                                          <td>{{date.pg_contact}}</td>
                                          <td><a href="/owner/pgrooms/{{date.pg_id}}">View PG Rooms</a></td>
                                          <td><a href="/owner/pgfacility/{{date.pg_id}}">View PG Facility</a></td>
                                          <td><a href="/owner/gallary/{{date.pg_id}}">View Gallary</a></td>
                                          <td><a href="/owner/package/{{date.pg_id}}">View Package</a></td>
                                          <td><a href="/owner/booking/{{date.pg_id}}">View booking</a></td>

                                          
                                          
                          
                          
                          
                          
                          
                                        </tr>
                                        {% endfor %}
                          
                                      </tbody>
                          
                          
                                    </table>
                                </div>
                                    </div>
                                  </div> 
                            
                            </div>
                        </div>
                    </div>
                    <!--============== Dashboard end ==============-->
{% endblock %}