{% extends "header-footer.html" %}
{% load static %}
    <!-- Main content -->
    {% block content %}
    <section class="content">
        <div class="row">
          <div class="col-xs-12">

           
            <div class="box">
              <div class="box-header">
                <h3 class="box-title">FeedBack</h3>
                <h6 class="box-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example" class="table table-bordered table-hover display nowrap margin-top-10">
                  <thead>
                      <tr>
                        <th>Feedback Id</th>
                        <th>User</th>
                        <th>Pg</th>
                        <th>Feedback description</th>
                        <th>Feedback Date </th>
                        <th>Delete </th>

                      </tr>
                  </thead>
                  <tbody>
                    {% for date in feedback %}
                      <tr>

                        <td>{{date.feed_id}}</td>
                        <td>{{date.user_id.first_name}}</td>
                        <td>{{date.pg_id.pg_name}}</td>
                        <td>{{date.feed_desc}}</td>
                        <td>{{date.feed_date}}</td>
                        <td><a href="/del_feed/{{date.feed_id}}"><img src="{% static 'images/del-logo.png' %}" class="user-image"  height="22" alt="User Image"></a></td>
                        
                       
                      </tr>
                      {% endfor %}
                     
                  </tbody>
                  
             
              </table>
  
                
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->          
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% endblock %}