{% extends "header-footer.html" %}
{% load static %}
    <!-- Main content -->
    {% block content %}

    <section class="content">
     
     <!-- Basic Forms -->
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Add Images</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div> 
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
            	<div class="form-group clearfix">
                <form method="POST" action="/in_gallary/"  enctype="multipart/form-data" data-parsley-validate="">
                  {% csrf_token %}

                  <div class="form-group clearfix">
                    <label for="example-search-input" class="col-sm-2 col-form-label">PG ID</label>
                    <div class="col-sm-10">
                      <select class="form-control" name="pg_id">
                        {% for data in p %}
                            <option value="{{data.pg_id}}">{{data.pg_name}}</option>
                        {% endfor %}
                    </select>
                      <!-- <input class="form-control" name="pg_id" type="number" value="" id="example-search-input"> -->
                    </div>
                  </div>
				  
				<div class="form-group clearfix">
				  <label for="example-search-input" class="col-sm-2 col-form-label">Select Image</label>
				  <div class="col-sm-10">
            <img src="" height="200" width="200" name="output" id="output" style="margin-left: 2px; border-radius: 5px,5px,5px,5px;"/><br><br>
					<input class="form-control" name="image" type="file" value="" accept="image/*" onchange="loadFile(event)" data-parsley-required="true" data-parsley-required-message="This field is required">
				  </div>
				</div>
        <script>
          function loadFile(event){
            document.getElementById('output').src=
            URL.createObjectURL(event.target.files[0]);
          }
        </script>
			
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
        

			
			
        
				
			
				
				
		
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
     
     
      <!-- /.row -->
      
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    
  {% endblock %}
  