{% extends "header-footer.html" %}
{% load static %}


<!-- Main content -->
{% block content %}
<section class="content">
  <div class="row">
    <div class="col-sm-10">

      <script src="http://code.jquery.com/jquery-latest.js"></script>

      <script type="text/javascript">
        function fetch_data() {
          var value = $("#pgdetails").val();
          alert(value);
          $.ajax({
            url: "/order_report5/",
            type: "POST",
            data: { 'pgdetails': value },
            success: function (data) {
              alert(data);
              $("#load_data").html(data);
            }
          });

        } 
      </script>

      <select class="form-control" name="pgdetails" id="pgdetails" onchange="fetch_data()">
        {% for data in sub %}
        <option value="{{data.pg_id}}">{{data.pg_name}}</option>
        {% endfor %}
      </select>
      <!-- <input class="form-control" name="pg_type_id" type="number" value="" id="example-search-input"> -->
    </div>
    <div class="col-xs-12">


      <div class="box">
        <div class="box-header">
          <h3 class="box-title"> Report 5  </h3>
          <h6 class="box-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
        </div>
        <!-- /.box-header -->

        <div class="box-body">

          <table id="example" class="table table-bordered table-hover display nowrap margin-top-10">
            <thead>
              <tr>
                <th>PG Rooms ID</th>
                <th>PG Name</th>
                <th>Room type </th>
                <th>Number of rooms</th>
                

              </tr>
            </thead>
            <tbody id="load_data">
              {% for date in pgroom %}
              <tr>

                <td>{{date.pg_rooms_id}}</td>
                <td>{{date.pg_id_id}}</td>
                <td>{{date.room_type_id_id}}</td>
                <td>{{date.num_of_rooms}}</td>
                


              </tr>
              {% endfor %}

            </tbody>


          </table>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
<script lang="javascript" type="text/javascript">
  function fetches() {
    alert("Hello");
  }
</script>