{% extends "header-footer.html" %}
{% load static %}
<!-- Main content -->
{% block content %}

<section class="content">

  <!-- Basic Forms -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Default Basic Forms</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group clearfix">
            <form method="POST" action="/up_details/{{pg.pg_id}}">
              {% csrf_token %}

              <div class="form-group clearfix">
                <label for="example-search-input" class="col-sm-2 col-form-label">PG Type ID</label>
                <div class="col-sm-10">
                  <select class="form-control" name="room_type_id">
                    {% for data in te %}
                    <option value="{{data.room_type_id}}">{{data.room_type_name}}</option>
                    {% endfor %}
                  </select>
                  <!-- <input class="form-control" name="pg_type_id" type="number" value="{{pg.pg_type_id}}" id="example-search-input"> -->
                </div>
              </div>

              <div class="form-group clearfix">
                <label for="example-search-input" class="col-sm-2 col-form-label">Area ID</label>
                <div class="col-sm-10">
                  <select class="form-control" name="area_id">
                    {% for data in ar %}
                    <option value="{{data.area_id}}">{{data.area_name}}</option>
                    {% endfor %}
                  </select>
                  <!-- <input class="form-control" name="area_id" type="number" value="{{pg.area_id}}" id="example-search-input"> -->
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-email-input" class="col-sm-2 col-form-label">Owner ID</label>
                <div class="col-sm-10">
                  <select class="form-control" name="owner_id">
                    {% for data in ow %}
                    <option value="{{data.owner_id}}">{{data.owner_first_name}}</option>
                    {% endfor %}
                  </select>
                  <!-- <input class="form-control" name="owner_id" type="number" value="{{pg.owner_id}}" id="example-search-input"> -->
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-email-input" class="col-sm-2 col-form-label">Category ID</label>
                <div class="col-sm-10">
                  <select class="form-control" name="cate_id">
                    {% for data in ct %}
                        <option value="{{data.cate_id}}">{{data.cate_name}}</option>
                    {% endfor %}
                </select>
                <!-- <input class="form-control" name="owner_id" type="number" value="" id="example-search-input"> -->
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-search-input" class="col-sm-2 col-form-label">PG Name</label>
                <div class="col-sm-10">
                  <input class="form-control" name="pg_name" type="text" value="{{pg.pg_name}}"
                    id="example-search-input">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-search-input" class="col-sm-2 col-form-label">PG Image</label>
                <div class="col-sm-10">
                  <input class="form-control" name="pg_image" type="text" value="{{pg.pg_image}}"
                    id="example-search-input">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-search-input" class="col-sm-2 col-form-label">PG Address</label>
                <div class="col-sm-10">
                  <input class="form-control" name="pg_address" type="text" value="{{pg.pg_address}}"
                    id="example-search-input">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-email-input" class="col-sm-2 col-form-label">PG E-mail</label>
                <div class="col-sm-10">
                  <input class="form-control" name="pg_email" type="email" value="{{pg.pg_email}}"
                    id="example-email-input">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-search-input" class="col-sm-2 col-form-label">PG Contect no.</label>
                <div class="col-sm-10">
                  <input class="form-control" name="pg_contact" type="number" value="{{pg.pg_contact}}"
                    id="example-search-input">
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="example-search-input" class="col-sm-2 col-form-label">PG Description</label>
                <div class="col-sm-10">
                  <input class="form-control" name="pg_desc" type="text" value="{{pg.pg_desc}}"
                    id="example-search-input">
                </div>
              </div>

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>










          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->


    <!-- /.row -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}